<h1>The cocktail</h1>

<h2><%= @cocktail.name %></h2>

<h1>dose</h1>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %> - <%= dose.ingredient.name %> -
    <%= link_to "Delete",
                dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  <% end %>
  </li>
</ul>



<%= link_to 'Back to list', cocktails_path, class: "btn btn-secondary" %> |
<%= link_to 'Leave a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-secondary" %>
